<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" requireAccess="Script"/>
        </handlers>
        <defaultDocument>
            <files>
                <add value="index.php"/>
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
