.container-infinity {
    margin-left: 8%;
    margin-right: 4%;

    .navbar-brand {
        margin-left: -15px;
        color: white;
    }

    .navbar-right {
        margin-right: 0;
    }
}

ul.ul-fluid {
    padding: 0;
}

.routine {
    &.routine-index {
        width: 360px;
        height: 660px;
        overflow-y: scroll;
        padding: 0;

        > div {
            padding: 6px 15px;
        }

        .event {
            .time {
                width: 50px;
            }

            .content {
                .title {
                    @extend h5;
                    margin-top: 0;
                }

                .description {
                    @extend h6;
                    margin-bottom: 0;
                }
            }
        }
    }

    .date {
        > .date {
            display: table-cell;
            width: 50px;
            font-size: large;
            font-weight: bold;
            margin-top: -4px;
            padding-right: 15px;
        }

        .weekno {
            display: table-cell;
        }
    }

    .event {
        .time {
            display: table-cell;
            width: 100px;
        }

        .content {
            display: table-cell;

            .title {
                @extend h4;
                margin-top: 0;
            }

            .description {
                @extend h5;
                margin-bottom: 0;
            }
        }
    }

    .close {
        font-size: xx-large;
        line-height: 40px;
        color: transparent;
    }

    .event:hover .close {
        color: inherit;
    }

    hr {
        margin: 0;
        padding: 0;
    }
}

.calendar {
    width: 960px;
    margin: 15px;

    .fc-content {
        padding: 3px 6px;
    }

    .fc-time {
        margin-right: 3px;
    }
}
